@quarter:               25%;
@third:                 33%;
@half:                  50%;
@twothird:              66%;
@threequarter:          75%;
@full:                  100%;

@halfSpacing:           5px;
@normalSpacing:         10px;
@dblSpacing:            10px;

@fontSize:              12px;
@titleFontSize:         18px;
@copyrightFontSize:     12px;

@regularHeight:         14px;
@copyrightHeight:       16px;


@fontColor:             #404040;
@lightColor:            #ffffff;
@darkColor:             #000000;
@darkColor_rgba_light:  rgba(0, 0, 0, 0.2);
